<div class="col-md-10 offset-md-1 mt-5" [ngClass]="{'loading' : loading}" >
  <div class="col-md-6 offset-md-3">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    <div class="card">
      <h4 class="card-header">Kreiraj korisnika</h4>
      <div class="card-body flex-container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <mat-form-field>
            <input name="email" formControlName="email" matInput placeholder="Email">
            <div *ngIf="submitted && f.email.errors" class="invalid">
              <div *ngIf="f.email.errors.required">Email je obavezan</div>
              <div *ngIf="f.email.errors.email">Mora biti email</div>
            </div>
          </mat-form-field>

          <mat-form-field>
            <mat-select formControlName="role" placeholder="Izaberi ulogu">
              <mat-option *ngFor="let role of roles" value="{{role}}">{{role}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="mat-form-field">
            <button [disabled]="loading" type="submit" mat-raised-button color="primary">
              Kreiraj
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card mt-4 mb-4">
    <div class="card-header" fxLayout="row" fxLayoutAlign="space-between center">
      <h4 fxFlex="20%">
        Svi korisnici
      </h4>
      <div fxFlex="80%" fxLayout="row" fxLayoutAlign="space-between center">
        <!--<label for="username">Username</label>-->
        <div fxFlex="60%">
          <input [(ngModel)]="userFilter" type="text" placeholder="Filtriraj hranu" class="form-control" />
        </div>
        <div *ngIf="users" fxFlex="20%" fxLayoutAlign="space-between center">
          <span>Svi: <b>{{users.length}}</b></span>
          <span>Aktivirani: <b>{{activatedUsers}}</b></span>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div *ngFor="let user of users" class="user-container" >
          <div *ngIf="user.email && user.email.toLowerCase().indexOf(userFilter.toLowerCase()) != -1"
               fxLayout="row" fxLayoutAlign="space-between center" class="userItem" [ngClass]="{'notActivated' : !user.activated}">
            <div fxFlex="40%">{{user.email}}</div>
            <div fxFlex="20%">{{user.roles}}</div>
            <div fxFlex="10%">{{user.activated ? '':'Nije aktiviran'}}</div>
            <div fxFlex="30%" class="controls" fxLayoutAlign="end">
              <button class="btn btn-primary btn-sm" (click)="resetPassword(user)">
                Resetuj lozinku
              </button>
              <button class="btn btn-danger btn-sm ml-2" (click)="delete(user)">
                Obriši
              </button>
            </div>
          </div>
          <div *ngIf="!user.email" class="userItem userWithError">
            <div fxFlex="70%">GREŠKA - Nepotpuni podaci za korisnika UserId = {{user.userId}}</div>
            <div fxFlex="30%" class="controls" fxLayoutAlign="end">
              <button class="btn btn-primary btn-sm" (click)="resetPassword(user)">
                Resetuj lozinku
              </button>
              <button class="btn btn-danger btn-sm ml-2" (click)="delete(user)">
                Obriši
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
